/* About Us----------------------------------------- */


.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.carousel-item img{
    opacity: 1;
}

.carousel-item img{
    margin-top: 100px;
}





.container .row h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .row img{
    margin-bottom: 30px;
}

.text-center{
    margin: 0 auto;
    /* border: 1px solid red; */
}

.card{
    
    margin-bottom: 10px;
}