/* About Us----------------------------------------- */


.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.carousel-item img{
    opacity: 1;
}

.carousel-item img{
    margin-top: 100px;
}



.container .row h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .row img{
    margin-bottom: 30px;
}

.text-center{
    margin: 0 auto;
    /* border: 1px solid red; */
}

.card{
    margin-bottom: 10px;
}


.row{
    padding-bottom: 50px;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
  } 
  .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%;
  }