#intro .jumbotron{
    height: 70vh;
}




/******************* nav *************/

.nav{
    background-color: white;
}

.nav-item{
    font-size: 14px;
}

.navbar{
    /* flex-wrap: nowrap; */
}

.container-fluid{
    /* position: relative; */
}

.container-fluid button.navbar-toggler{
    /* float: right; */
    /* position: absolute;
    top: 60px;
    right: 0; */
}

.navbar-brand img{
    /* width: 70%; */
    
}

.container .navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid{
    background-color: white;
    float: right;
}

.container-fluid .collapse .nav-item a{
    color: black;
}

.container-fluid .collapse .nav-item a:hover{
    color: #0d6efd;
}

.container-fluid .navbar-collapse{
    flex-grow: 0;
}

.container-fluid .collapse .nav-item .dropdown-menu a{
    color: black;
}

.container-fluid .collapse .nav-item .dropdown-menu a:hover{
    color: #0d6efd;
}

.container button.navbar-toggler{
    background-color: white;
}

/******************* banner *************/

.carousel-item img{
    opacity: .7;
}

.carousel-item h5 a{
    text-decoration: none;
    color: black;
}



.carousel-item p{
    color: white;
}



/******************* card *************/

.row{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 100%;
}



.row .col{
    padding-top: 0px;
    padding-bottom: 50px;
    /* border: 1px solid #212020; */
}

.row .col a{
    text-decoration: none;
    color: #212020;
}

.card{
    width: 100%;
    opacity: .9;
}



.card:hover{
    opacity: 1.8;
}


.col .text-muted{
    float: right;
}


/******************* card end *****************/

.featurette .col-md-7{
   /* border: 1px solid blue; */
   align-self: center;
}

.featurette-heading{
    text-align: center;
    margin-top: 10px;
}

.lead{
    text-align: center;
    margin-top: 25px;
    line-height: 1.6;
}

.img-fluid img{
    max-width: 100%;
    height: auto;
}

/************* footer *****************/

.container ul li a i{
    color: #212020;
}

  

.slides{
    display: flex;
    margin: 100px auto;
    /* padding: 20px; */
}

.flexslider .slides>li{
    display: block;
}

.arrow{
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 8;
}

.owl-theme .item {
    height: 10rem;
    /* background: #4dc7a0; */
    padding: 1rem;
  }
  
  .owl-carousel .item h4 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4375rem;
    margin-top: 0rem;
  }