body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { 
    font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

#intro .jumbotron{
    height: 70vh;
}

body{
    overflow-x: hidden;
}

/******************* nav *************/

.nav-item{
    font-size: 14px;
}

.container-fluid .collapse .nav-item a{
    color: black;
}

.container-fluid .collapse .nav-item a:hover{
    color: #0d6efd;
}

.container-fluid .navbar-collapse{
    flex-grow: 0;
}

.container-fluid .collapse .nav-item .dropdown-menu a{
    color: black;
}

.container-fluid .collapse .nav-item .dropdown-menu a:hover{
    color: #0d6efd;
}

.container button.navbar-toggler{
    background-color: white;
}

/******************* banner *************/

.carousel-item h5 a{
    text-decoration: none;
    color: black;
}

.carousel-item p{
    color: white;
}

.featurette .col-md-7{
   /* border: 1px solid blue; */
   align-self: center;
}

.featurette-heading{
    text-align: center;
    margin-top: 10px;
}

.lead{
    text-align: center;
    margin-top: 25px;
    line-height: 1.6;
}

/************* footer *****************/

.container ul li a i{
    color: #212020;
}

.slides{
    display: flex;
    margin: 100px auto;
    /* padding: 20px; */
}

.flexslider .slides>li{
    display: block;
}

.arrow{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 8;
}

.owl-theme .item {
    height: 15rem;
    /* background: #4dc7a0; */
    padding: 1rem;
}

.owl-carousel .item h4 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4375rem;
    margin-top: 0rem;
}

/******************* news ***********************/

.hidetogglebtn{
    float: right;
}
