.text-center{
    margin: 0 auto;
}


.card{
    opacity: 1;
    margin: 0 auto;
    width: 80%;
}

img.card-img-top{
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 30px;

}

.row{
    margin-left: 0;
}


.row .col{
    padding-top: 0;
    padding-bottom: 20px;
    /* border: 1px solid black; */
}

