.py-5{
    margin: -40px;
    /* border: 1px solid red; */
}


.container{
    margin: 0 auto;

}

.card{
    width: 100%;
    opacity: 1;
}

.shadow-sm{
    padding: 20px;
    
}

.shadow-sm img{
    width: 100%;
    height: auto;
}

.hidetogglebtn{
    margin-bottom: 10px;
    float: right;
}

.small{
    float: left;
}

